{% extends 'layout.html' %}

{% block pageTitle %}
  Symptoms
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/index",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      What is the problem?
    </h1>

    <form action="/summary" method="post">
      <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="notes">
              Please leave a short description about the problem you are having and any symptoms.
          </label>
          <span class="nhsuk-hint" id="notes-hint">
              Tell us about any pian/aches, where they are, how long they have been going on for and how they are affecting you day to day life.
          </span>
          <!-- the textarea has something we should not have, what is it and remove, I removed aria-describeby -->
          <textarea class="nhsuk-textarea" id="notes" name="notes" rows="5" aria-describedby="notes-hint" value="{{ data['notes'] }}"></textarea>
        </div>
        <button class="nhsuk-button">Continue</button>
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/contact" id="back-notes">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back
            </a>
        </div>

    </form>

  </div>
</div>

{% endblock %}
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/docs",
        "label": "Home"
      },
      {
        "URL": "/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "/docs/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS.UK prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}